/* Reset file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
/* Use in general */
.border-bottom{
    width: 100%;
    border-bottom:1px solid #ddd;
}
.mb-16{
    margin-bottom: 16px;
}
/*header*/
#header_nav{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
}
#header_nav .logo{
    width: 90px;
    height:23px;
    fill: rgb(255, 55, 0);
    cursor: pointer;
}
#header_nav .form-control{
    width: 704px;
    height:40px;
    border-radius: 4px;
    border: 2px solid rgb(38, 38, 38);
    padding: 0px 8px 0px 40px;
}
#header_nav .sub_nav{
    display: flex;
    align-items: center;
}
#header_nav .sub_nav li{
    display: inline-block;
}
#header_nav .sub_nav li a{
    text-decoration: none;
}
.sub_nav .icon-header{
    font-size:28px;
    margin-left: 24px;
}
.sub_nav .submit-btn{
    padding: 4px 16px;
    border-radius: 2px;
    background-color: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: rgb(38, 38, 38);
    font-weight: 800;
    margin-left: 24px;
}
.sub_nav .header-login:hover,
.sub_nav .submit-btn:hover{
    opacity: 0.6;
}
.sub_nav .header-login{
    margin-left: 24px;
    font-family: "GT America Extended","Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(38, 38, 38);
}
/* header navs */
#nav{
    height:48px;
    background-color: #fff;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 999;
}
#navs{
    display: inline-block;
}
#navs > li{
    display: inline-block;
}
#navs li{
    font-size:16px;
    font-family: "GT America", "Segoe UI", Helvetica, Arial, sans-serif;
    position: relative;
}
#navs > li > a{
    color: black;
    font-weight: bold;
}
#navs .sales{
    color: #FF2300;
}
#navs .sales:hover{
    color: #fff;
    background-color: #FF2300;
}
#navs > li:hover > a{
    color: white;
    background-color: black;
}
#navs .subnav li:hover a{
    color: white;
    background-color: black;
}
#navs li:hover .subnav{
    display: block;
}
#navs li a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    cursor: pointer;
    border:none;
}
#navs .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius:2px;
    border: 1px solid #ccc;
    background-color:#fff;
    list-style-type: none;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#navs .subnav a{
    color: #000;
    line-height:1.5;
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;
    margin-left: -32px; 
}
/* banner section */
#banner{
    background-image: url('../assets/img/Banner.jpg');
    height:340px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    top:113px;
}

#banner .img_item{
    position:absolute;
    right:15%;
    top:0;
}

#banner .banner_text{
    position:absolute;
    top: 20%;
    left:12%;
}
#banner .banner_text_header{
    text-transform: uppercase;
    font-style: italic;
    line-height:1.2;
    font-weight: 900;
    margin-bottom: 16px;
}
#banner .shop_btn{
    justify-content: center;
    padding: 10px 14px;
    border-radius: 2px;
    background-color: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: rgb(38, 38, 38);
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    opacity: 1;
    line-height:1.5;
}
#banner .shop_btn:hover{
    opacity: 0.6;
}
#banner .banner_paragraph{
    color: #262626;
}
#category{
    position: relative;
    top:130px;
}
