/* Reset file */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:Helvetica,Arial,sans-serif;
    scroll-behavior: smooth;
}
/* Use in general */
.border-bottom{
    width: 100%;
    border-bottom:1px solid #ddd;
}
.mb-16{
    margin-bottom: 16px;
}
.ml-11{
    margin-left: 5%;
}
.ml-45{
    margin-left: -50px;
}
.ml-50{
    margin-left: 70px;
}
.ml-img{
    margin-left: -33px;
}
.mb-flex{
    margin-top: 21px;
}

.header_text{
    color: #262626;
    font-size:1.125rem;
    margin-top: 16px;
    font-weight: bold;
    margin-left: 9.5rem;
    margin-bottom: 32px;
}

.shop_btn{
    justify-content: center;
    padding: 10px 14px;
    border-radius: 2px;
    width: 125px;
    height:45px;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: rgb(38, 38, 38);
    border-width: 2px;
    border-style: solid;
    font-weight: 700;
    opacity: 1;
    line-height:1.4;
}
.shop_btn:hover{
    opacity: 0.7;
    color: rgb(255, 255, 255);
}
/*header*/
#header_nav{
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #fff;
}
#header_nav .logo{
    width: 90px;
    height:23px;
    fill: rgb(255, 55, 0);
    cursor: pointer;
}
#header_nav .form-control{
    width: 704px;
    height:40px;
    border-radius: 4px;
    border: 2px solid rgb(38, 38, 38);
    padding: 0px 8px 0px 40px;
    appearance: none;
    box-shadow: none !important;
    margin-left: 60px;
}
#header_nav .sub_nav{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#header_nav .sub_nav li{
    display: inline-block;
}
#header_nav .sub_nav li a{
    text-decoration: none;
}
.sub_nav .icon-header{
    font-size:28px;
    margin-left: 24px;
    color: #000;
}
.sub_nav .submit-btn{
    padding: 4px 16px;
    border-radius: 2px;
    background-color: rgb(38, 38, 38);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-color: rgb(38, 38, 38);
    font-weight: 800;
    margin-left: 24px;
}
.sub_nav .header-login:hover,
.sub_nav .submit-btn:hover{
    opacity: 0.6;
}
.sub_nav .header-login{
    margin-left: 24px;
    font-family: "GT America Extended","Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(38, 38, 38);
}
/* header navs */
#nav{
    height:48px;
    background-color: #fff;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 999;
}
#navs{
    display: inline-block;
}
#navs > li{
    display: inline-block;
}
#navs li{
    font-size:16px;
    font-family: "GT America", "Segoe UI", Helvetica, Arial, sans-serif;
    position: relative;
}
#navs > li > a{
    color: black;
    font-weight: bold;
}
#navs .sales{
    color: #FF2300;
}
#navs .sales:hover{
    color: #fff;
    background-color: #FF2300;
}
#navs > li:hover > a{
    color: white;
    background-color: black;
}
#navs .subnav li:hover a{
    color: white;
    background-color: black;
}
#navs li:hover .subnav{
    display: block;
}
#navs li a{
    text-decoration: none;
    display: block;
    padding: 12px 16px;
    cursor: pointer;
    border:none;
}
#navs .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius:2px;
    border: 1px solid #ccc;
    background-color:#fff;
    list-style-type: none;
    min-width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#navs .subnav a{
    color: #000;
    line-height:1.5;
    padding: 15px 15px;
    border-bottom: 1px solid #ddd;
    margin-left: -32px; 
}

/* banner section */
#banner{
    background-image: url('../assets/img/Banner.jpg');
    height:340px;
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
    top:113px;
}

#banner .img_item{
    position:absolute;
    right:12%;
    top:0;
}

#banner .banner_text{
    position:absolute;
    top: 20%;
    left:11%;
}
#banner .banner_text_header{
    text-transform: uppercase;
    font-style: italic;
    line-height:1.2;
    font-weight: 900;
    margin-bottom: 16px;
}

#banner .banner_paragraph{
    color: #262626;
}

/* Category section */
#category{
    position: relative;
    top:130px; 
}
#category .category__header{
    color: #262626;
    font-size:1.125rem;
    margin-top: 16px;
    font-weight: bold;
}

#category .category__header a{
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}

#category .category-overlay{
    position: absolute;
    top:15%;
    left: 152px;
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category .img-fluid{
    position: absolute;
    top:15%;
    left: calc(30% + 6px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category .img-image{
    position: absolute;
    top:15%;
    left: calc(50% + 3px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category .img-overlays{
    position: absolute;
    top:15%;
    left: calc(70% - 1px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}

#category .img-overlays:hover,
#category .img-image:hover,
#category .img-fluid:hover,
#category .category-overlay:hover{
    opacity: 0.3;
    cursor: pointer;
}

/* top-search section */
#top-search{
    height:265px;
    position:relative;
    top:150px;
}

#top-search .search__header{
    font-size:0.875rem;
    font-weight: bold;
    font-family: "GT America Extended", "Segoe UI", Helvetica, Arial, sans-serif;
    color: rgb(38, 38, 38);
}
#top-search .search__header a{
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}
#top-search .search_img_item{
    border-radius: 50%;
}

/* gallary section */
#gallery{
    position: relative;
    top:200px;
    min-height: 500px;
}
#gallery .gallary__header{
    display: flex;
    justify-content:space-between;
}
#gallery .header__words{
    margin-right: 11%;
    background-color: transparent;
    border: none;
    color: rgb(41, 96, 175);
    appearance: none;
    align-items:center;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left;
}
#gallery .header__words:hover{
    opacity: 0.8;
}
#gallery .flex-container{
    display: flex;
    margin-left: 9.5rem;
}
#gallery .flex-container .flex-items{
    margin-right: 21px;
}
#gallery .gallery-overlay{
    position: absolute;
    top: calc(17% -1px);
    left: calc(24% -2px);
    width: 166px;
    height:166px;
    opacity: 0;
    background: black;
}
#gallery .gallery-overlay:hover{
    opacity: 0.2;
    cursor: pointer;
}

/* introduce products */
#introduce{
    position: relative;
    top:200px;
    min-height: 500px;
    margin-bottom: 64px;
}

#introduce .introduce__body{
    display: flex;
    justify-content:space-between;
    flex-direction:row-reverse;
    align-items:center;
}
#introduce .introduce__img{
    margin-left: 9.5rem;
}
#introduce .introduce__text{
    margin-right: calc(11rem + 2px);
    line-height:1.5;
    color: rgb(38, 38, 38);
}
#introduce .introduce_header{
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 1.125rem;
}
#introduce .introduce__text>p{
    margin-bottom: 32px;
    font-family: "GT America Extended", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

#gallery_products{
    position: relative;
    top:200px;
    min-height: 500px;
    margin-bottom: 64px;
}
#gallery_products .gallary__header{
    display: flex;
    justify-content:space-between;
}
#gallery_products .header__words{
    margin-right: 11%;
    background-color: transparent;
    border: none;
    color: rgb(41, 96, 175);
    appearance: none;
    align-items:center;
    margin-bottom: 12px;
    cursor: pointer;
    text-align: left;
}
#gallery_products .header__words:hover{
    opacity: 0.8;
}
#gallery_products .flex-container{
    display: flex;
    margin-left: 9.5rem;
}
#gallery_products .flex-container .flex-items{
    margin-right: 21px;
}
#gallery_products .flex-items>p{
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 32px;
}
#gallery_products .gallery-overlay{
    position: absolute;
    top: calc(17% -1px);
    left: calc(24% -2px);
    width: 166px;
    height:166px;
    opacity: 0;
    background: black;
}
#gallery_products .gallery-overlay:hover{
    opacity: 0.2;
    cursor: pointer;
}

#introduce_pt{
    position: relative;
    top:200px;
    min-height: 600px;
    margin-bottom: 64px;
}

#introduce_pt .introduce__body{
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    align-items:center;
}
#introduce_pt .introduce__img{
    margin-right: calc(10rem + 1px);
}
#introduce_pt .introduce__text{
    line-height:1.5;
    margin-left: 9.5rem;
    color: rgb(38, 38, 38);
}
#introduce_pt .introduce_header{
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 1.125rem;
}
#introduce_pt .introduce__text>p{
    margin-bottom: 32px;
    font-family: "GT America Extended", "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}


/* Category section */
#category_pt{
    position: relative;
    top:130px; 
    min-height: 300px;
}
#category_pt .category__header{
    color: #262626;
    font-size:1.125rem;
    margin-top: 16px;
    font-weight: bold;
}

#category_pt .category__header a{
    text-decoration: none;
    color: #262626;
    font-weight: bold;
}
#category_pt .category__header{
    text-align: left;
    margin-left: 22px;
}

#category_pt .category-overlay{
    position: absolute;
    top:0;
    left: 152px;
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category_pt .img-fluid{
    position: absolute;
    top:0;
    left: calc(30% + 6px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category_pt .img-image{
    position: absolute;
    top:0;
    left: calc(50% + 3px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}
#category_pt .img-overlays{
    position: absolute;
    top:0;
    left: calc(70% - 1px);
    width: 265px;
    height:264px;
    opacity: 0;
    background: black;
}

#category_pt .img-overlays:hover,
#category_pt .img-image:hover,
#category_pt .img-fluid:hover,
#category_pt .category-overlay:hover{
    opacity: 0.3;
    cursor: pointer;
}
.category-icon{
    margin-right: 10px;
}


#slogan{
    position: relative;
    top:200px;
    text-align: center;
    min-height: 150px;
}
#slogan>h1{
    font-size:1.5rem;
    font-weight:bold;
    line-height:1.5;
    color: rgb(38, 38, 38);
}


#footer{
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-top: 1px solid rgb(215, 215, 215);
    background: rgb(255, 255,255);
    width: 100%;
    margin-bottom: -1rem;
    padding: 8px 0;
    color: rgb(38, 38, 38);
    min-height:44px;
    display: flex;
    align-items:center;
}
#footer .nav__footer{
    display: inline;
}
#footer .nav__footer>li{
    display: inline;
}
#footer .nav__footer>li a{
    color: rgb(38, 38, 38);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem;
    margin-right: 16px;
}
#footer .nav__footer>li a:hover{
    text-decoration: underline;
}

#footer .subnav__footer{
    margin-left: 130px;
    display: flex;
    align-items: center;
}
#footer .subnav__footer>li{
    display: inline-block;
}
#footer .subnav__footer>li a{
    color: rgb(38, 38, 38);
    text-decoration: none;
    margin-right: 8px;
}

#footer .selection__footer{
    display: flex;
    margin-left: 8px;
}
#footer .selection__footer>li{
    display: inline-block;
    margin-right: 8px;
}
#footer .selection__footer .option__footer{
    margin: 0px;
    font-family: "GT America Extended";
    font-size: 0.875rem;
    color: rgb(38, 38, 38);
    box-shadow: none;
    line-height: 18px;
    background-color: transparent;
    width: 100%;
    padding: 4px 30px 4px 4px;
}

#footer .selection__footer .option__footer--element{
    margin: 0px;
    font-family: "GT America Extended";
    font-size: 0.875rem;
    color: rgb(38, 38, 38);
    box-shadow: none;
    line-height: 18px;
    background-color: transparent;
    width: 100%;
    padding: 4px 80px 4px 4px;
}

